@import "src/assets/styles/main.scss";

.task-bar {
  height: 100%;
  width: 100%;
  padding: 24px 16px 0;
  background-color: $gray-color-0;

  @include border(solid, $gray-color-40, 0, (0 0 0 1px));

  &__task-name {
    text-align: start;
  }

  &__tracker {
    padding: 24px 0 32px;
    @include flexible(center, space-between);

    &-button {
      @include width(40px);
      @include height(40px);
      @include flexible(center, center);

      @include border($border-radius: 8px);
    }

    &-button:active {
      background-color: $secondary-color;
      transition: background-color .4s ease-out;
    }
  }

  &__action-button {
    @include flexible(center, flex-start, $gap: 12px);
    @include button(190px, 40px, transparent);
  }
}