@import 'src/assets/styles/main.scss';

.app-layout {
  display: flex;
  width: 100vw;
  height: 100vh;

  &__content {
    padding: 0 16px;
    width: 100%;
    background-color: $gray-color-0;

    &-placeholders {
      padding: 8px 7px;
      @include flexible(center, space-between);
    }
  }

  &__task-bar {
    @include width(318px);
  }
}