@import "src/assets/styles/main";

.header {
  width: 100%;
  background-color: $gray-color-0;
  padding: 0 20px;

  @include flexible(center, space-between);
  @include height(64px);

  &__logo {
    @include flexible(center, center, $gap: 12px);

    &-title {
      display: block;
      font-family: 'Gilroy', sans-serif;
      @include typography(24px, 500, 24px);
    }
  }

  &__tracker {
    &-task {
      @include flexible(center, center);
    }

    &-timer {
      color: $gray-color-80;
      font-family: 'Gilroy', sans-serif;
      @include typography(16px, 500, 18.56px);
      @include flexible(center, center, $gap: 9px);
    }
  }
}